<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag %>
    <title><%= content_for(:title) || "Plansfu" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="UTF-8">
    <meta name="description" content="An undergraduate course planner for SFU students. Search for courses and find course planning information.">

    <!-- needed for google material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="assets/application.css" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div><%= notice %></div>
  <div><%= alert %></div>

  <% if user_signed_in? %>
      <%= link_to "Edit Password", "#" %>
      <%= button_to "Log out", session_path, method: :delete %>
  <% else %>
      <%= link_to "Sign up", new_registration_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
